@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --main-font: "Pacifico", cursive;
  --font-weight: 400;
  --primary-background: #EED7C5;
  --secondary-backgroun: #EEE2DF;
  --primary-text-color: #000;
  --secondary-text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --------------------------------------------------------------------------------- */
#offerSlider {
  position: relative;
  background-color: var(--primary-background);
  padding: 1.2rem 2rem;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  color: #555;
  font-weight: 500;
}

.track {
  content: '';
  position: absolute;
  bottom: 6px;
  white-space: nowrap;
}

.track span {
  margin-left: 40px;
  font-size: 1.2rem;
}

/* -------------------------Offer Slider Ends----------------------------- */
